<div id="new_item">
  <div id="new_item_container">
    <h1>Registration</h1>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="field"><%= f.label :email %><br />
        <%= f.text_field :email %></div>

      <div class="field"><%= f.label :password %><br />
        <%= f.password_field :password %></div>

      <div class="field"><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></div>

      <div class="actions"><%= f.submit "Sign up" %></div>
    <% end %>

    <%= render :partial => "devise/shared/links" %>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function() {
    var validator = $("#user_new").validate({
      rules: {
        'user[email]': "required",
        'user[password]': { required: true, minlength: 6 },
        'user[password_confirmation]': { required: true, minlength: 6, equalTo: true }
      }
    });
  });
<% end -%>
