<h3><%= t("comments.new.title") %></h3>

<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div id="field-container">
    <%= user_picture(current_user, class: 'user-avatar') %>
    <%= f.text_area :body %>
  </div>

  <%= f.hidden_field :proposal_id %>

  <div class="actions">
    <%= f.submit t("comments.new.submit"), class: 'button darker' %>
  </div>
<% end %>

<%= content_for :js do %>
<script>
  $(document).ready(function() {
    var validator = $("#new_comment").validate({
      rules: {
        'comment[body]': "required"
      },
      messages: { 'comment[body]': 'Comment cannot be empty' }
    });
  });
</script>
<% end -%>
