<div id="new_item">
  <%= image_tag 'forgot.png', :title => 'Forgot my password!' %>

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="field"><%= f.label :email %>
      <br />
      <%= f.text_field :email %>
    </div>

    <div class="actions"><%= f.submit "Send me reset password instructions" %></div>
  <% end %>

  <%= render 'devise/shared/links' %>
</div>

<%= content_for :js do %>
<script>
  $(document).ready(function(){
    var validator = $("#user_new").validate({
      rules: {
        'user[email]': "required"
      }
    });
  });
</script>
<% end %>
