<div id="new_item">
  <div id="new_item_container">
    <%= image_tag 'registration.png', :title => 'Registration' %>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= render partial: 'devise/shared/error_messages', resource: resource %>
      <%= flash[:alert] %>

      <div class="field"><%= f.label :name %><br />
        <%= f.text_field :name %></div>

      <div class="field"><%= f.label :email %><br />
        <%= f.text_field :email %></div>

      <div class="field special"><%= f.label :email_confirmation %><br />
        <%= f.text_field :email_confirmation %></div>


      <div class="field"><%= f.label :password %><br />
        <%= f.password_field :password %></div>

      <div class="field"><%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation %></div>

      <%= recaptcha_tags %>

      <div class="actions"><%= image_submit_tag "sign_up_button.png" %></div>
    <% end %>

    <%= render 'devise/shared/links' %>
  </div>
</div>

<%= content_for :js do %>
  <script type="text/javascript">
    $(document).ready(function() {
      var validator = $("#user_new").validate({
        rules: {
          'user[email]': "required",
          'user[name]': "required",
          'user[password]': { required: true, minlength: 6 },
          'user[password_confirmation]': { required: true, minlength: 6, equalTo: '#user_password' }
        }
      });
    });
  </script>
<% end -%>
