<div id="top">
	<div id="pic">
		<div id="intro">
			<p>
				<strong>Organize your call for papers.</strong>
				...and let audience decide who speaks in the conference!
			</p>	
		</div>
		<div id="howto"></div>
		<div id="twitter"></div>		
	</div>
</div>

<br/><br/><br/><br/><br/>

<div id="most_recent_events">
	<%= image_tag '/images/most_recent_events.png' %><br />
	<p><strong>Decide how go to the conference!</strong></p>
		
	<% @events.each do |event| %>
		<div class="event">
			<%= event.name %><br/>
			<%= event.description %><br/>
			<%= pluralize event.proposals.size, 'proposal' %><br/>
			<%= pluralize event.comments.size, 'comment' %><br/><br />	
		</div>
	<% end %>	
	<br/>
	
</div>

<div id="most_recent_comments">
	comments<br/>
	<% @comments.each do |comment| %>
		<%= comment.body %><br/>
		<%= comment.user.name %><br/>
		<%= image_tag comment.user.picture if comment.user.picture.present? %>
	<% end %>	
</div>

