	<div id="top">
		<div id="pic">
			<div id="intro">
				<p>
					<strong>Organize your call for papers.</strong>
					...and let audience decide who speaks in the conference!
				</p>	
			</div>
		</div>
	</div>

events<br/>
<% @events.each do |event| %>
	<%= event.name %><br/>
	<%= event.description %><br/>
	<%= pluralize event.proposals.size, 'proposal' %><br/>
	<%= pluralize event.comments.size, 'comment' %><br/>	
	
<% end %>	
<br/>
<hr/>
comments<br/>
<% @comments.each do |comment| %>
	<%= comment.body %><br/>
	<%= comment.user.name %><br/>
	<%= image_tag comment.user.picture if comment.user.picture.present? %>
<% end %>	