<div id="top">
	<div id="pic">
		<div id="intro">
			<p>
				<strong>Organize your call for papers.</strong>
				...and let audience decide who speaks in the conference!
			</p>	
		</div>
		<div id="howto"></div>
		<div id="twitter"></div>		
	</div>
</div>

<br/><br/><br/><br/><br/>

<div id="most_recent_events">
	<div class="head">
		<%= image_tag '/images/most_recent_events.png' %><br />
		<p><strong>Decide how go to the conference!</strong></p>
	</div>	
		
	<% @events.each do |event| %>
		<div class="event">
			<%= event.name %><br/>
			<%= event.description %><br/>
			<%= pluralize event.proposals.size, 'proposal' %><br/>
			<%= pluralize event.comments.size, 'comment' %><br/><br />	
		</div>
	<% end %>	
	<br/>
	
</div>

<div id="most_recent_comments">
	<div class="head">
		<%= image_tag '/images/most_recent_comments.png' %><br />
		<p><strong>What people think about last proposals.</strong></p>
	</div>
	
	<div id="comments">
		<% @comments.each do |comment| %>
			<div class="comment">
				<%= comment.body %><br/>
				<%= comment.user.name %><br/>
				<%= image_tag comment.user.picture if comment.user.picture.present? %>
			</div>	
		<% end %>	
	</div>
</div>

