<div id="top">
	<div id="pic">
		<div id="intro">
			<p>
				<strong>Keep track of your call for proposals</strong>
				...and let the audience voice be heard at your event!
			</p>
		</div>

		<div id="create">
			<%= link_to image_tag ('/images/create_01.png'), new_event_path, :class => 'create_button' %>
		</div>
		
		<div id="howto"></div>
		<div id="twitter"></div>
	</div>
</div>

<div id="content">
	<div id="most_recent_events">
		<div class="head">
			<%= image_tag '/images/most_recent_events.png' %><br />
			<p><strong>Decide which talks get accepted!</strong></p>
		</div>

		<% @events.each do |event| %>
			<div class="event">
				<p><strong><%= event.name %></strong></p>

				<p><%= truncate(event.description, :length => 170) %></p><br/>

				<div class="buttons">
					<%= image_tag '/images/more.png', :class => 'more' %>
					<%= link_to pluralize(event.proposals.size, 'proposal'), root_path %>
					<%= link_to pluralize(event.comments.size, 'comment'), root_path %>
          <%= render 'shared/tweet_button', :text => "This event is on a call for papers! Check it out. #call4paperz", :url => event_url(event) %>
          <%= render 'shared/facebook_like', :url => event_url(event) %>
				</div>

			</div>
		<% end %>
		<p class="prop_link">We have <span>12</span> open proposals available to vote. Click to see them.</p>
		<br/>

	</div>

	<div id="most_recent_comments">

		<div class="head">
			<%= image_tag '/images/most_recent_comments.png' %><br />
			<p><strong>What people think about the last proposals.</strong></p>
		</div>

		<div id="comments">
			<% @comments.each do |comment| %>
				<div class="comment">
					<div class="comment_pic">
						<%= image_tag comment.user.picture, :class => 'borda_vinho' if comment.user.picture.present? %>
					</div>
					<div class="comment_detail">
						<p><%= truncate(comment.body, :length => 60) %></p>
						<p><small><%= comment.user.name %></small></p>
					</div>
					<div style="clear:both"></div>
					<%= image_tag '/images/linha.png' %>
				</div>
			<% end %>
			<%= link_to "all comments", root_path, :class => 'all' %>
		</div>

	</div>
</div>
