<header>
  <% if @event.picture? %>
    <%= link_to image_tag(@event.picture.cropped.url, class: 'logo', size: "180x175" ), @event %>
  <% end %>

  <div id="event-main-info">
    <h1 id="event-title"><%= link_to @event.name, @event %></h1>

    <% if @event.occurs_at %>
      <div id="event-date"><%= fa_icon('calendar-check-o') %><%= l(@event.occurs_at, format: :long) %></div>
    <% end %>

    <div id="event-social">
      <div class="twit">
        <%= render 'shared/tweet_button', text: t('events.share', event_name: @event.name), url: event_url(@event) %>
      </div>
      <%= render 'shared/facebook_like', url: event_url(@event) %>
    </div>
  </div>

  <div id="event-metadata">
    <div id="event-info">
      <% if @event.url.present? %>
        <span><%= fa_icon('link') %><%= link_to 'Event url', @event.url %></span>
      <% end %>

      <% if @event.twitter.present? %>
        <span><%= link_to fa_icon('twitter'), "http://www.twitter.com/#{@event.twitter}" %></span>
      <% end %>

      <% if @event.tag_list.any? %>
        <span>
          <%= fa_icon('tags') %>
          <% @event.tag_list.each do |tag| %>
            <%= link_to tag, tags_events_path(tag) %>
          <% end %>
        </span>
      <% end %>
    </div>

    <div id="event-organizer">
      Organizer: <%= user_picture(@event.user, width: '16px') %> <%= @event.user.name %>
    </div>
  </div>
</header>

<section id="event-description">
  <%= markdown(@event.description) %>
</section>
