<% unless @event.closed? %>
  <%= link_to image_tag('your_proposal.png'), new_event_proposal_path(@event), id: 'add_proposal' %>
<% end %>

<div id="proposal">
  <% if @event.picture? %>
    <%= link_to image_tag(@event.picture.cropped.url, :class => 'logo', :size => "180x175" ), @event %>
  <% end %>

  <p><strong><%= link_to @event.name, @event %></strong></p>

  <div class="using-markdown">
    <%= markdown(@event.description) %>
  </div>

  <p><strong>Date: </strong><%= l(@event.occurs_at, :format => :long) if @event.occurs_at %></p>
  <p><strong>URL: </strong><%= link_to @event.url, @event.url, :class => 'branco' if @event.url.present? %></p>
  <p><strong>Twitter: </strong>
    <%= link_to @event.twitter, "http://www.twitter.com/#{@event.twitter}", :class => 'branco' if @event.twitter.present?  %>
  </p>
  <p>
    <strong>Tags:</strong>
    <% @event.tag_list.each do |tag| %>
      <%= link_to tag, tags_events_path(tag) %>
    <% end %>
  </p>

  <p><strong>Organizer: </strong><%= @event.user.name %><br/>
    <%= user_picture(@event.user, :class => 'organizer') %>
  </p>

  <div class="event-social">
    <div class="twit">
      <%= render 'shared/tweet_button', text: t('events.share', event_name: @event.name), url: event_url(@event) %>
    </div>
    <%= render 'shared/facebook_like', url: event_url(@event) %>
  </div>
</div>
