<div id="events_list">
  <% if @events.empty? -%>
    <p>There are no events yet. <%= link_to "Be the first to create one!", new_event_path, :class => 'create_button' %></p>
    <br/>
  <% else -%>
  <%= image_tag 'event_list.png' %>
  <p class="sub_vote">A list of events you can proposal to speak or vote in the proposals.</p>
    <%= link_to image_tag('create_transp.png', :title => 'Create new event'), new_event_path, :class => 'create_button' %>
    <ul id="events">
      <% @events.each do |event| %>
        <li class="event_listed">
          <%= image_tag event.picture.cropped.url, :class => 'logo_small' %>
          <div class="event_desc">
            <h1><%= link_to "#{event.name} (#{l(event.occurs_at, :format => :short)})", event %></h1>
            <p>
              <%= truncate(event.description, :length => 100) %>
            </p>
          </div>
          <div class="event_status">
            <%= t(:proposal_html, count: event.proposals_count) %>
            <%= t(:vote_html, count: event.votes_count) %>
            <%= t(:comment_html, count: event.comments_count) %>
          </div>
        </li>
      <% end %>
    </ul>
    <%= link_to image_tag('create_transp.png', :title => 'Create new event'), new_event_path, :class => 'create_button' %>
  <% end -%>
</div>
