<div id="event-details">
  <%= render 'events/event' %>
</div>

<div id="event-proposals">
  <header id="proposals-header">
    <div>
      <h2>Vote for it!</h2>
      <p class="sub_vote">Decide who speaks at the conference.</p>
    </div>

    <div>
      <%= link_to(fa_icon('plus-square-o') + t('events.add_proposal'), new_event_proposal_path(@event), id: 'add-proposal', class: 'button lighter') unless @event.closed? %>
    </div>
  </header>

  <section id="proposals-list">
    <%= content_tag :p, t('.closed'), class: 'alert' if @event.closed? %>

    <% if @event.proposals.blank? %>
      <div class="yet">This event is ready to receive proposals!<br />
      Tweet this event to your friends so they can submit proposals and spread the word!</div>
      <%= render 'shared/tweet_button', text: t('events.share', event_name: @event.name), url: event_url(@event) %>
    <% end %>

    <% @event.proposals.each do |proposal| %>
      <%= render proposal %>
    <% end %>
  </section>
</div>

<%= content_for :js do %>
  <script>
   $('.voting-controls button').click(function(){
     var proposal = $(this).parents('.proposal-item');
     var spinner = proposal.find('.voting-controls').find('.spinner')

     FetchWithAjax.fetch({
       url: this.getAttribute('data-url'),
       spinner: spinner,
       success: function(data) {
         spinner.removeAttr('style');
         proposal.replaceWith(data);
       }
     });

     return false;
   });
  </script>
<% end %>
