
<div id="proposal">
  <%= image_tag @event.picture.big.url, :class => 'logo' %>	
  <%= image_tag '/images/linha.png', :class  => 'linha' %>
  <p><strong><%= @event.name %></strong></p>
  <p><%= truncate (@event.description, :length => 200) %></p>
  <%= image_tag '/images/linha.png', :class  => 'linha' %>

  <p><strong>Date: </strong><%= @event.occurs_at %></p>
  <p><strong>URL: </strong><%= @event.url %></p>
  <p><strong>Twitter: </strong><%= @event.twitter %></p>

  <p><strong>Start: </strong><%= @event.starts_votes_at %></p>	
  <p><strong>End: </strong><%= @event.end_votes_at %></p>

<% if @event.picture.present? -%>
  <p>
    <b>Picture:</b>
    <%= image_tag @event.user.picture, :class => 'organizer' %>	
  </p>
<% end -%>

<div id="proposal_list">
	<%= image_tag '/images/prop_vote.png' %>	
	<p class="sub_vote">Decide how goes to the conference!</p>
	<br/>
	<% @event.proposals.each do |proposal| %>
		<%= render proposal %>
	<%end  %>
</div>

<div style="clear:both"></div>


<%= link_to  image_tag ('/images/your_proposal.png'), new_event_proposal_path(@event) %>
