<div id="left_bar">
  <%= render :partial => 'events/event' %>
</div>

<div id="proposal_list">
  <div class="admin_area">
    <% if user_is_owner?(@event) %>
      <p>
        Administrative tools:
        <strong>
          <%= link_to("Crop picture", crop_event_path(@event)) %> |
          <%= link_to "Edit event", edit_event_path(@event) %>
        </strong>
      </p>
    <% end %>
  </div>

  <%= image_tag '/images/prop_vote.png' %>
  <p class="sub_vote">Decide who speaks at the conference!</p>
  <br/>

  <% if @event.proposals.blank? %>
    <span class="yet">This event is ready to receive proposals!</span><br/><br/>
    Tweet this event to your friends so they can submit proposals and spread the word!</spam>
  <br/><br/>
  <%= render 'shared/tweet_button', :text => "#{@event.name} is on a call for papers run! Check it out. #call4paperz", :url => event_url(@event) %>
  <% end %>


  <% @event.proposals.each do |proposal| %>
    <%= render proposal %>
  <%end  %>
</div>


<%= javascript_tag do %>
  $('.ajax_vote').click(function() {
      var thiz = this;

      FetchWithAjax.fetch({
          url: this.href,
          spinner: $(this).parents('.prop').find('.spinner'),
          success: function(data) {
              $(thiz).parents('.prop').replaceWith(data);
          }
      });

      return false;
  });
<% end -%>
