
<div id="proposal">
  <%= image_tag @event.picture.big.url, :class => 'logo' %>	
  <%= image_tag '/images/linha.png', :class  => 'linha' %>
  <p><strong><%= @event.name %></strong></p>
  <p><%= truncate (@event.description, :length => 200) %></p>
  <%= image_tag '/images/linha.png', :class  => 'linha' %>

  <p><strong>Date: </strong><%= @event.occurs_at %></p>
  <p><strong>URL: </strong><%= @event.url %></p>
  <p><strong>Twitter: </strong><%= @event.twitter %></p>

  <p><strong>Start: </strong><%= @event.starts_votes_at %></p>	
  <p><strong>End: </strong><%= @event.end_votes_at %></p>
  <%= image_tag '/images/linha.png', :class  => 'linha' %>

<% if @event.picture.present? -%>
  <p>
    <b>Picture:</b>
    <%= image_tag @event.picture.big.url %>
  </p>
<% end -%>


<div id="proposal_list">
	asdasdsa
	<% @event.proposals.each do |proposal| %>
		<%= render proposal %>
	<%end  %>
</div>

<p id="notice"><%= notice %></p>


<%= link_to "New proposal", new_event_proposal_path(@event) %>





<!-- <%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %> -->
