<div id="event-details">
  <%= render 'events/event' %>
</div>

<div id="event-proposals">
  <% if user_is_owner?(@event) %>
    <div class="event_notice_area">
      <p>
        Administrative tools:
        <strong>
          <%= link_to t('.crop'), crop_event_path(@event) %> |
          <%= link_to t('.edit'), edit_event_path(@event) %> |
          <%= link_to t(".closed_#{@event.closed?}"), edit_event_close_path(@event) %>
        </strong>
      </p>
    </div>
  <% end %>

  <header id="proposals-header">
    <div>
      <h2>Vote for it!</h2>
      <p class="sub_vote">Decide who speaks at the conference.</p>
    </div>

    <%= link_to(fa_icon('bullhorn') + t('events.add_proposal'), new_event_proposal_path(@event), id: 'add-proposal') unless @event.closed? %>
  </header>

  <section id="proposals-list">
    <%= content_tag :p, t('.closed'), class: 'alert' if @event.closed? %>

    <% if @event.proposals.blank? %>
      <div class="yet">This event is ready to receive proposals!<br />
      Tweet this event to your friends so they can submit proposals and spread the word!</div>
      <%= render 'shared/tweet_button', text: t('events.share', event_name: @event.name), url: event_url(@event) %>
    <% end %>

    <% @event.proposals.each do |proposal| %>
      <%= render proposal %>
    <% end %>
  </section>

  <% if user_is_owner?(@event) %>
    <div class="event_notice_area">
      <p>Speakers contacts:</p>
      <% @users.each_pair do |k, user| %>
        <%= user.name %> <%= user.email %>,
      <% end %>
    </div>
  <% end %>
</div>

<%= content_for :js do %>
  <script>
  $('.ajax_vote').click(function(){
    var thiz = this;

    FetchWithAjax.fetch({
        url: this.href,
        spinner: $(this).parents('.prop').find('.spinner'),
        success: function(data) {
            $(thiz).parents('.prop').replaceWith(data);
        }
    });

    return false;
  });
  </script>
<% end %>
