
<div id="new_item">
  <div id="login_container">
    <h1>Login</h1>
    <div class="old_school">
      <h2>You can go old school:</h2>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <p><%= f.label :email %><br />
          <%= f.text_field :email %></p>

        <p><%= f.label :password %><br />
          <%= f.password_field :password %></p>

        <% if devise_mapping.rememberable? -%>
          <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
        <% end -%>

        <p><%= f.submit "Sign in" %></p>
      <% end %>
      <%= render :partial => "devise/shared/links" %>
    </div>
    <div>
      Or you can use the following services to login:
      <ul id="login_services">
        <li><%= link_to(image_tag('auth/twitter_oauth.png'), '/auth/twitter') %></li>
        <li><%= link_to(image_tag('auth/facebook_oauth.png'), '/auth/facebook') %></li>
      </ul>
    </div>
  </div>
</div>

