
<div id="new_item">
  <div id="login_container">
    <%= image_tag 'sign_in.png', :title => 'Sign in', :class => 'title' %>
    <div class="old_school">
      <h2>You can go old school:</h2>
      <br/>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.text_field :email %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password %>
        </div>

        <div class="field"><%= f.check_box :remember_me %> <%= f.label :remember_me, :class => 'remember' %></div>

        <p><%= image_submit_tag 'sign_in_button.png' %></p>
      <% end %>
      <%= render :partial => "devise/shared/links" %>
    </div>
    <div>
      <h2>Or you can use the following services to login:</h2>
      <br/>
      <ul id="login_services">
        <li><%= link_to(image_tag('auth/twitter_oauth.png', :title => 'Sign in with Twitter'), '/auth/twitter') %></li>
        <li><%= link_to(image_tag('auth/facebook_oauth.png', :title => 'Login with Facebook'), '/auth/facebook') %></li>
      </ul>
    </div>
  </div>
</div>


<%= javascript_tag do %>
  $(document).ready(function() {
    var validator = $("#user_new").validate({
      rules: {
        'user[email]': "required",
        'user[password]': "required"
      },
      messages: {
        'user[email]': "Email is required",
        'user[password]': "Password is required"
      }
    });
  });
<% end -%>
