<div class="prop">
  
  <p><strong><%= link_to proposal.name, event_proposal_path(@event, proposal), :class => "prop_link" %></strong></p>
  <p><%= proposal.description %></p>

  <div class="prop_sub">
    <%= image_tag proposal.user.picture if proposal.user.picture.present? %>  
    <small><%= proposal.user.name %></small>
    <%= link_to "#{proposal.comments.size} comments", [@event, proposal] %>
    <span class="voting_container">
    <%= vote_box(@event, proposal, current_user) %>
    </span>
  </div>  

  <script type="text/javascript">
    $(".ajax_vote").bind('ajax:success', function(xhr, result){
      var container = $(this).closest(".voting_container");
      container.html('<%= image_tag('checked.png', :alt => 'Thanks for voting!') %>');
    });
  </script>
  
  
</div>