<div class="prop">
	
	<p><strong><%= link_to proposal.name, event_proposal_path(@event, proposal) %></strong></p>
	<p><%= proposal.description %></p>

	<div class="prop_sub">
		<%= image_tag proposal.user.picture if proposal.user.picture.present? %>	
		<small><%= proposal.user.name %></small>
		<%= link_to "#{proposal.comments.size} comments", [@event, proposal] %>
		<%= vote_box(@event, proposal, current_user) %>
	</div>	
	
</div>