<div class="prop">
  <div class="spinner">
    <%= image_tag 'ajax-loader.gif' %>
  </div>

  <p>
    <strong>
      <%= link_to proposal.name, event_proposal_path(@event, proposal), :class => "prop_link" %>
      <% if user_is_owner?(proposal) %>
        <span id="edit_proposal">
          <%= link_to "(edit)", edit_event_proposal_path(@event, proposal) %>
        </span>
      <% end %>
    </strong>
  </p>

  <%= render_votes_bar(proposal.acceptance_points) %>

  <div class="using-markdown">
    <%= markdown(proposal.description) %>
  </div>

  <div class="prop_sub">
    <%= user_picture(proposal_user(proposal)) %>
    <small><%= proposal_user(proposal).name %></small>
  </div>

  <%= link_to "#{proposal.comments.size} comments", [@event, proposal], :class => 'com_prop' %>

  <span class="voting_container">
    <%= vote_box(@event, proposal, current_user) %>
  </span>
</div>
