<div class="proposal-item">
  <%= content_tag :div, image_tag('ajax-loader.gif'), class: 'spinner' %>

  <header>
    <h3><%= link_to proposal.name, event_proposal_path(@event, proposal) %></h3>
    <%= link_to "(edit)", edit_event_proposal_path(@event, proposal) if user_is_owner?(proposal) %>
  </header>

  <section class="proposal-description">
    <%= markdown(proposal.description) %>
  </section>

  <section class="proposal-metadata">
    <div class="proposal-author">
      <%= user_picture(proposal_user(proposal), width: '24px') %>
      <%= proposal_user(proposal).name %>
    </div>

    <%= link_to "#{proposal.comments.size} comments", [@event, proposal], class: 'proposal-comments' %>

    <section class="proposal-voting">
      <div class="voting-controls">
        <% if current_user.has_vote_for?(proposal) %>
          <%= content_tag :button, fa_icon('check') %>
        <% else %>
          <%= content_tag :button, fa_icon('thumbs-up') %>
          <%= content_tag :button, fa_icon('thumbs-down') %>
        <% end %>
      </div>
      <p class="total-votes"><%= proposal.acceptance_points %> votes</p>
      <%#= vote_box(@event, proposal, current_user) %>
    </section>
  </section>
</div>
