<h1>Listing proposals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @proposals.each do |proposal| %>
  <tr>
    <td><%= proposal.name %></td>
    <td><%= proposal.description %></td>
    <td><%= proposal.user %></td>
    <td><%= link_to 'Show', [@event, proposal] %></td>
    <td><%= link_to 'Edit', edit_event_proposal_path(@event, proposal) %></td>
    <td><%= link_to 'Destroy', [@event, proposal], :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Proposal', new_event_proposal_path(@event) %>
