<div id="left_bar">
  <%= render 'events/event' %>
</div>

<div id="proposal_list">
  <%= image_tag 'comments_label.jpg' %>
  <p class="sub_vote">What people think about this proposal.</p>
  <br/>
  <%= render @comment.proposal %>

  <% if user_signed_in? %>
    <div class="content-box <%= @comments.any? ? 'top' : ''%>">
      <%= render 'comments/form' %>
    </div>
  <% else %>
    <%= link_to t('proposals.comments.please_sign_in'), new_user_session_path %>
  <% end %>

  <% @comments.each_with_index do |comment, index| -%>
    <div class="content-box <%= last_comment?(@comments, index) ? 'bottom' : '' %>">
      <%= render comment %>
    </div>
  <% end -%>
</div>
