<div id="left_bar">
  <%= render :partial => 'events/event' %>
</div>

<div id="proposal_list">
  <%= image_tag 'comments_label.jpg' %>
  <p class="sub_vote">What people think about this proposal.</p>
  <br/>
  <%= render @comment.proposal %>

  <%= render 'comments/form' %>

  <% @comments.each do |comment| -%>
    <%= render comment %>
  <% end -%>
</div>
