<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @proposal.name %>
</p>

<p>
  <b>Description:</b>
  <%= @proposal.description %>
</p>

<p>
  <b>User:</b>
  <%= @proposal.user %>
</p>

<p>
  <b>Event:</b>
  <%= @proposal.event %>
</p>

<%= render 'comments/form' %>


<h1>Comments</h1>
<% @proposal.comments.each do |comment| -%>
  <%= render comment %>
<% end -%>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>
