<div style="clear:both"></div>
<div id="footer">
  <div class="container">
    <div id="footer_cols">
      <div class="footer_a">
        <%= image_tag '/images/f_call.png' %>
        <br/><br/>
        <p>
          Have you ever had difficult times to organize your local dev conference?
          <br/>
          <br/>
          <b>Call4paperz</b> aims to help with event organization, <br/>call for papers,
          voting on speakers and the basics, <br/> like collecting feedback from crowd,
          schedule planning, etc.
		  <br/><br/>
		  We have now <%= users_number %> users to help you with feedback!
		  
        </p>
      </div>
      <div class="footer_a">
        <%= image_tag '/images/f_map.png' %>
        <br/><br/>
        <p>
          <%= link_to "Home", root_path %><br/>
          <%= image_tag '/images/f_linha.png' %>
          <%= link_to "Events", events_path %><br/>
          <%= image_tag '/images/f_linha.png' %>
          <%= link_to "Registration", new_user_registration_path %><br/>
          <%= image_tag '/images/f_linha.png' %>
        </p>
      </div>
      <div class="footer_a">
        <%= image_tag '/images/f_about.png' %>
        <br/><br/>
        <p>
          Call4paperz was designed, developed and deployed in 48 hours by @anderson_leite,
		  @qmx and @vinibaggio at Rails Rumble 2010.
          <br/><br/>
          We are strateging some improvements and new features to
		  help every company or user group to keep track of your events.
          <br/><br/>
          If you have any suggestion or doubt about <b>Call4Paperz</b>, please, let us know
		  sending an email to <b>call4paperz@gmail.com</b>.
		
        </p>
      </div>
    </div>
    <div style="clear:both"></div>
	<div id="tweeting" style="display:none;">
		Did you like this app?
		<div id="tw">
		<%= render 'shared/tweet_button', :text => "I liked #call4paperz project at #railsrumble!", :url => root_path %>
		</div>

      <%= render 'shared/facebook_like', :url => root_path %>
	</div>
  </div>
</div>

<script type="text/javascript">

	// $(document).ready(function(){
	// 		setTimeout(function(){
	// 			$("#tweeting").fadeIn('slow');
	// 		}, 10000);
	//
	// 	});
</script>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<div id="copyright">
  <p>Copyright © 2010. Powered by <strong>acts_as_monkeys_on_steroids</strong>, Developed in <strong>Rails Rumble 2010</strong>.</p>
</div>
