<!DOCTYPE html>
<html>
  <head>
    <title>Call4Paperz</title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>

    <%= render 'shared/opengraph' %>
  </head>

  <body>
    <%= render_flash_notice %>
    <header>
      <div class="container">
        <div id="menu">
          <%= link_to image_tag("logo_c4p.png"), root_path, :class => 'logo_c4p' %>
          <%= menu %>
        </div>
      </div>
    </header>
    <section>
      <div class='container'>
        <%= yield %>
      </div>
    </div>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      $(document).ready(function(){
        $('.rr').hover(
          function(){
            $(this).fadeTo('slow', 0.1);
          },
          function(){
            $(this).fadeTo('slow', 1);
          }
        )
      });
    </script>
    <%= yield :js %>
    <%= render 'shared/analytics' %>
  </body>
</html>
