<!DOCTYPE html>
<html>
  <head>
    <title>Call4Paperz</title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>

    <%= render 'shared/opengraph' %>
  </head>
  <% if Rails.env.production? %>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-8630672484728977",
        enable_page_level_ads: true
      });
    </script>
  <% end %>

  <body>
    <%= render_flash_notice %>
    <header>
      <div class="container">
        <div id="menu">
          <%= link_to image_tag("logo_c4p.png"), root_path, :class => 'logo_c4p' %>
          <%= menu %>
        </div>
      </div>
    </header>
    <section class="main">
      <div class="container">
        <div id='breadcrumb'></div>
      </div>
    </section>
    <section>
      <div class='container'>
        <%= yield %>
      </div>
    </div>

    <% if Rails.env.production? %>
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <ins class="adsbygoogle"
        style="display:inline-block;width:728px;height:90px;float:right;"
        data-ad-client="ca-pub-8630672484728977"
        data-ad-slot="7099626648">
      </ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    <% end %>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application' %>

    <%= yield :js %>
    <%= render 'shared/analytics' %>
  </body>
</html>
