<!DOCTYPE html>
<html>
  <head>
    <title>Call4Paperz</title>
    <%= stylesheet_link_tag 'application' %>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>

    <%= render 'shared/opengraph' %>
  </head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8630672484728977",
      enable_page_level_ads: true
    });
  </script>

  <body id="<%= page_id %>">
    <div class="flex-container">
      <header id="main-header">
        <%= link_to root_path, id: 'logo' do %>
          Call<em>4</em>Paper<strong>z</strong>
        <% end %>
        <%= menu %>
      </header>

      <%= render_flash_notice %>

      <section id="main-section">
        <%= yield %>
      </section>
    </div>

    <%= render 'layouts/footer' %>

    <%= javascript_include_tag 'application' %>
    <script type='text/javascript'>
      $(document).ready(function(){
        $('.rr').hover(
          function(){
            $(this).fadeTo('slow', 0.1);
          },
          function(){
            $(this).fadeTo('slow', 1);
          }
        )
      });
    </script>
    <%= yield :js %>
    <%= render 'shared/analytics' %>
  </body>
</html>
