<!DOCTYPE html>
<html>
  <head>
    <title>Call4paperz</title>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <link rel="icon" href="/favicon.ico" type="image/ico"/>

    <%= render 'shared/opengraph' %>
  </head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-8630672484728977",
      enable_page_level_ads: true
    });
  </script>
  <body>
    <%= render_flash_notice %>
    <header>
      <div class="container">
        <div id="menu">
          <%= link_to image_tag("logo_c4p.png"), root_path, :class => 'logo_c4p' %>
          <%= menu %>
        </div>
      </div>
    </header>
    <section class="main">
      <div class="container">
        <div id="top">
          <div id="pic">
            <div id="intro">
              <p>
                <strong>Keep track of your call for proposals</strong>
                ...and let the audience voice be heard at your event!
              </p>
            </div>
            <ul class="showcase">
              <li><%= image_tag 'showcase/1.jpg', :class => 'active', :title => 'Event', :width => '496', :height => '346' %></li>
              <li><%= image_tag 'showcase/2.jpg', :class => 'hidden', :title => 'Event', :width => '496', :height => '346' %></li>
              <li><%= image_tag 'showcase/3.jpg', :class => 'hidden', :title => 'Event', :width => '496', :height => '346' %></li>
            </ul>
            <div id="howto"></div>
          </div>
            <div id="twitter">
              <div id="twitter_status"></div>
              <div class="twitter_status_date"></div>
            </div>
        </div>
      </div>
    </section>
    <section class="content">
      <div class="container">
        <%= yield %>
      </div>
    </section>
    <ins class="adsbygoogle"
      style="display:inline-block;width:728px;height:90px"
      data-ad-client="ca-pub-8630672484728977"
      data-ad-slot="7099626648">
    </ins>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    <%= yield :js %>
    <%= render 'layouts/footer' %>
    <%= render 'shared/analytics' %>
  </body>
</html>
