<!DOCTYPE html>
<html>
<head>
  <title>Call4Paperz</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'jquery-ui/jquery-ui-1.8.5.custom.css' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-ui.min.js', 'jquery.tweet.min.js' %>
  <%= csrf_meta_tag %>
  <link rel="icon" href="/favicon.ico" type="image/ico"/>
</head>
<body>
	
	<div id="main">
		<div class="container">
			<div id="menu">
				<%= link_to image_tag("/images/logo_c4p.png"), root_path, :class => 'logo_c4p' %>
				<%= menu %>
			</div>

			<%= yield %>

		</div>
	</div>
	<div style="clear:both"></div>
	<%= render :partial => 'layouts/footer' %>
  <script type="text/javascript">

   $(document).ready(function(){
		$('.rr').hover(
			function(){
				$(this).fadeTo("slow", 0.1);				
			},
			function(){
				$(this).fadeTo("slow", 1);
			}
		)
	});

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-19140800-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();



  </script>
</body>
</html>


